<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyk.boardev.mappers.ArticleMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        insert into `exam_0528`.`articles`(`nickname`, `password`, `title`, `content`, `view`, `created_at`,
                                           `is_deleted`)
        values (#{article.nickname}, #{article.password}, #{article.title}, #{article.content}, #{article.view},
                #{article.createdAt}, #{article.isDeleted});
    </insert>

    <select id="selectById" resultType="com.tyk.boardev.entities.ArticleEntity">
        select `id`          as `id`,
               `nickname`    as `nickname`,
               `password`  as `password`,
               `title`       as `title`,
               `content`     as `content`,
               `view`        as `view`,
               `created_at`  as `createdAt`,
               `is_deleted`  as `idDeleted`
        from `exam_0528`.`articles`
        where `id` = #{id}
        limit 1
    </select>

    <update id="update">
        update `exam_0528`.`articles`
        set nickname    = #{article.nickname},
            password  = #{article.password},
            title       = #{article.title},
            content     = #{article.content},
            view        = #{article.view},
            created_at  = #{article.createdAt},
            is_deleted  = #{article.isDeleted}
        where `id` = #{article.id}
        limit 1
    </update>
</mapper>